*
{
  font-family: 'DejaVu Sans';
}

form
{
  overflow: hidden;
  width: 160px;
}
button
{
  background-color: #ccc;
  border-syle: solid;
  padding: 2px 6px;
  border-color: #ccc;
  border-width: 1px;
}
label
{
  transition: background 0.1s, color 0.1s, top 0.1s, bottom 0.1s, right 0.1s, left 0.1s;
  position: relative;
  top: -24px;
  left: 2px;
  z-index: 2;
}
input
{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-width: 0 0 1.5px 0;
  border-color: #444;
  outline: none;
  margin: 6px 4px;
  z-index: 1;
}

input:focus
{
  border-color: #f06d06;
}
input:focus + label
{
  padding: 2px 3px;
  border-color: #333;
  background-color: #f06d06;
  font-size: 80%;
  left: 52%;
  min-height: 40px;
  margin-right: 0;
  width: 40%;
  text-transform: uppercasel
  z-index: 100;
}
